body {
    margin: 0;
    padding: 0;
    background-color: teal;
}

.container {
    display: flex;
    flex-direction: row;
}

.col1 , .col2 {
    border: 2px solid white;
}

.column {
    display: flex;
}