body {
    margin: 0;
    padding: 0;
    background-color: teal;
}

.image {
    display: block;
    object-fit: cover;
    height: 640px;
    width: 360px;
}


.heading-2 {
    font-family: 'Arial', sans-serif;
    color: white;
}