body {
}

img {
    width: 100%;
    display: block;
}

h1 {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  font-size: 12px;
}

header {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: #f8f8f8;
}

.container {
  /* border: 2px solid saddlebrown; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  /* background-color: #f8f8f8; */
}

.navigation {
  margin: 0 auto;
}

ul {
  padding: 0;

  /* border: 2px solid purple; */
  display: flex;
  justify-content: space-between;
    flex-direction: column;

  list-style-type: none;
}

li {
  margin-left: 2em;
}

a {
  text-decoration: none;
  display: block;
  color: #707070;
  border-bottom: 2px solid transparent;
}

a:hover,
a:focus {
  border-bottom: 2px solid #707070;
}




@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }
    main {
    width: 75%;
}

aside {
    width: 20%;
}

}